---
layout: 'layouts/base.njk'
---

<style>
/* System Fonts as used by GitHub */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.trail {
  display: flex;
  flex-direction: column-reverse;
}
header {
  text-align: center;
}
.weather {
  padding: 0px;
}
.stat {
  font-size: 1.5em;
  display: flex;
  padding-bottom: 5px;
  max-width: 380px;
  margin: auto;
}
@media(min-width: 700px) {
.title, .trail, .weather {
  max-width: 1100px;
}
.trail {
  flex-direction: row;
  margin: auto;
  flex-order: normal;
}
.title {
  margin: auto;
  font-size: 1.3em;
}
.weather {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-size: 1.1rem;
}
.weather li {
  margin-right: 1.5rem;
}
.map {
  width: 35%;
}
.stats {
  width: 65%;
}
.stat {
  font-size: 1.8em;
}
}
img {
  max-width: 100%;
}

.stat label {
  flex-grow: 1;
}
.stat span {
  font-weight: bold;
}

</style>

<header>
  <h1>Omaha Trail Segments</h1>
  <h4>Last updated: <relative-time datetime="{{stats.lastUpdated}}">{{stats.lastUpdated}}</relative-time></h4>
</header>

{% for segment in segments %}

<div class="segment">
  <div class="title">
    <h2>{{segment.trail}} - {{segment.strava.name}} (<a href="https://www.strava.com/segments/{{segment.segmentId}}">{{segment.segmentId}}</a>)</h2>
  </div>
  <ul class="weather">
    <li>
      <b>Current conditions</b> 
    </li>
    <li>
      <span>
        {{segment.observations.temperature.value | round}}&#176; | 
        {{segment.observations.heatIndex.value | round}}&#176; heat index
      </span>
    </li>
    <li>
      <label>Humidity:<label/> 
      <span>{{segment.observations.relativeHumidity.value | round}}%</span>
    </li>
    <li>
      <label>Wind:</label>
      <span>
        {% if segment.observations.windDirection.value !== -1 %}
          {{segment.observations.windDirection.value}} 
        {% endif %}
        {{segment.observations.windSpeed.value | round}} mph
        {% if segment.observations.windGust.value %} 
          gusting {{segment.observations.windGust.value | round}} mph
        {% endif %}
      </span>
    </li>
    <li>
      <label>Rain:</label>
      <span>{{segment.observations.precipitationLast3Hours.value}}" last 3 hours</span>
    </li>
  </ul>
  <section class="trail">
    <div class="map">
      <img src="images/map-{{segment.segmentId}}.png" alt="{{segment.strava.name}}" loading="lazy">
    </div>
    <div class="stats">

      <div class="stat">
        <label>Last ridden</label>
        <span><relative-time datetime="{{segment.stats.lastEffort.ts}}">{{segment.stats.lastEffort.ts}}</relative-time></span>
      </div>

      <div class="stat">
        <label>Rides today</label>
        <span>{{segment.stats.todayStats.count}}</span>
      </div>

      <div class="stat">
        <label>Rides yesterday</label>
        <span>{{segment.stats.yesterdayStats.count}}</span>
      </div>

      <img class="chart" src="{% charturi segment, 'hello' %}" alt="chart">
    </div>

  </section>
</div>
  <hr>
{% endfor %}

