---
layout: 'layouts/base.njk'
---

<style>
/* System Fonts as used by GitHub */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.trail {
  display: grid;
  grid-template-areas:
    "map"
    "stats"
    "week"
    "calendar";
  gap: 6px 6px;
}
.map {
  grid-area: map;
}
.stats-data {
  grid-area: stats;
  place-self: center;
}
.graph-week {
  grid-area: week;
  place-self: center;
}
.graph-calendar {
  grid-area: calendar;
}
header {
  text-align: center;
}
.weather {
  padding: 0px;
}
.stat {
  font-size: 1.5em;
  padding-bottom: 5px;
  margin: auto;
}
@media(min-width: 700px) {
.trail {
  grid-template-areas:
    "map        stats"
    "calendar   week";
  grid-template-columns: 0.7fr 1fr;
}
.title, .trail, .weather {
  max-width: 800px;
}
.trail {
  margin: auto;
}
.title {
  margin: auto;
  font-size: 1.3em;
}
.weather {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-size: 1.1rem;
}
.weather li {
  margin-right: 1.5rem;
}
.map {
}
.stats {
}
.stat {
  font-size: 1.8em;
}
}
img {
  width: 100%;
}

.stat label {
  flex-grow: 1;
}
.stat span {
  font-weight: bold;
}

</style>

<header>
  <h1>Omaha Trail Usage</h1>
  <h4>Last updated: <relative-time datetime="{{stats.lastUpdated}}">{{stats.lastUpdated}}</relative-time></h4>
</header>

{% for segment in segments %}

<div class="segment">
  <div class="title">
    <h2><a href="https://www.strava.com/segments/{{segment.segmentId}}">{{segment.trail}} - {{segment.strava.name}}</a></h2>
  </div>
  <ul class="weather">
    <li>
      <b>Current conditions</b>
    </li>
    <li>
      <span>
        {{segment.weather.currently.temperature | round}}&#176; | 
        {{segment.weather.currently.apparentTemperature | round}}&#176; feels like
      </span>
    </li>
    <li>
      <label>Humidity:<label/> 
      <span>{{segment.weather.currently.humidity | pctRound }}%</span>
    </li>
    <li>
      <label>Wind:</label>
      <span>
        {{segment.weather.currently.windBearing | compass }}
        {{segment.weather.currently.windSpeed | round }} mph
          gusting {{segment.weather.currently.windGust | round}} mph
      </span>
    </li>
  </ul>
  <section class="trail">
    <div class="map">
      <a href="https://www.strava.com/segments/{{segment.segmentId}}"><img src="images/map-{{segment.segmentId}}.png" alt="{{segment.strava.name}}" loading="lazy"></a>
    </div>
    <div class="stats-data">
      <div class="stat">
        <label>Last ridden</label>
        <span><relative-time datetime="{{segment.stats.lastEffort.ts}}">{{segment.stats.lastEffort.ts}}</relative-time></span>
      </div>

      <div class="stat">
        <label>Rides today</label>
        <span>{{segment.stats.todayStats.count}}</span>
      </div>

      <div class="stat">
        <label>Rides yesterday</label>
        <span>{{segment.stats.yesterdayStats.count}}</span>
      </div>
    </div>
    <div class="graph-calendar"><img class="chart" src="{% charturi segment, 'calendar' %}" alt="chart"></div>
    <div class="graph-week"><img class="chart" src="{% charturi segment, 'timeline' %}" alt="chart"></div>
  </div>

  </section>
</div>
  <hr>
{% endfor %}

