# Set these environment variables before running

# strava
export STRAVA_CLIENT_ID=
export STRAVA_CLIENT_SECRET=
export STRAVA_ACCESS_TOKEN=
export STRAVA_REFRESH_TOKEN=
export STRAVA_EXPIRY=

# gcp
export GOOGLE_APPLICATION_CREDENTIALS=

# maptiler
export MAPTILER_KEY=