---
title: Omaha Trail Status
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/@github/time-elements@3.1.1/dist/time-elements.js"></script>
    <title>{{ title }}</title>

    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="Trail information based on Strava segment activity">
    <meta property="og:image" content="https://trails.steele.blue/images/map-1692340.png">
    <meta property="og:url" content="https://trails.steele.blue">
    <meta name="twitter:card" content="Trail information based on Strava segment activity">
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>