---
title: Omaha Trail Status
mapImage: https://trails.steele.blue/images/map-1692340.png
description: Trail information based on Strava segment activity
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/@github/time-elements@3.1.1/dist/time-elements.js"></script>
    <title>{{ title }}</title>

    <meta property="og:title" content="{{title}}"/>
    <meta property="og:description" content="{{description}}"/>
    <meta property="og:image" content="{{mapImage}}"/>
    <meta property="og:url" content="https://trails.steele.blue"/>

    <meta name="twitter:card" content="summary" /> 
    <meta name="twitter:title" content="{{title}}"/> 
    <meta name="twitter:description" content="{{description}}" /> 
    <meta name="twitter:image" content="{{mapImage}}" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-30572618-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-30572618-4');
    </script>

  </head>
  <body>
    {{ content | safe }}
  </body>
</html>